<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% block main %}
<div id="login">
    <form name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}"/>
        {% endif %}
        <div>
            <div>
                <label>UserName</label>
                <input type="text" id="username" name="username"
                       placeholder="User Name">
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password" id="password"
                       placeholder="Password">
            </div>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
    </form>
</div>
{% endblock %}
</body>
</html>