{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
    <fieldset class="fieldset scheduler-border">
        <legend class="scheduler-border">Manage Urls</legend>
        <form class="">
            {% block content %}
                {% for url in urls %}
                    <div class="form-row">
                        <div class="form-group col">
                            <p class="form-control">{{url.url}}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
        </form>
    </fieldset>
</div>
{% endblock %}